*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  --main-horizontal-padding: 42px;
  max-width: 2000px;
}

header {
  position: relative;
  padding: 32px var(--main-horizontal-padding);
}

.frame {
  position: relative;
  box-shadow: 2px 2px 8px rgb(60, 60, 60);
  margin: 12px;
}

h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;

  color: white;
  font-size: 6.5rem;
  line-height: 1.1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px black;
}

.about > * {
  margin: 18px 0;
}

h2 {
  margin-top: 28px;
  text-align: center;
  font-size: 3rem;
}

.about > p {
  font-size: 1.8rem;
}

.pinwheel-holder {
  --skew: -23.5deg;

  position: absolute;
  left: 0;
  bottom: 60%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.pinwheel {
  height: 100%;
  transform: skewY(var(--skew));
  transform-origin: bottom left;
}

.pinwheel.layer-one {
  background-color: #ddbda9;
  box-shadow: 2px 2px 8px rgb(60, 60, 60);
}

.pinwheel.layer-two {
  background-color: #6f794b;
}

.pinwheel.layer-three {
  background-color: #6f3582;
}

.link-holder {
  display: flex;
  justify-content: center;
  gap: 24px;
}

a.link {
  --link-button-size: 60px;
  width: var(--link-button-size);
  height: var(--link-button-size);
  padding: 0;
  border: none;
  background-color: white;
  background-size: cover;
}

a.link.icon-github {
  background-image: url(./icons/icons8-github-60.png);
}

a.link.icon-linkedin {
  background-image: url(./icons/icons8-linkedin-50.png);
}

a.link.icon-instagram {
  background-image: url(./icons/icons8-instagram-60.png);
}

section {
  padding: 0px var(--main-horizontal-padding);
}

.gallery {
  --min-card-width: 300px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
  gap: 70px 36px;

  margin-top: 18px;
}

.card {
  height: 450px;
  border: 2px solid black;
}

/* Tablet styling */
@media (min-width: 600px) and (max-width: 1099px) {
  h1 {
    font-size: 2.8rem;
    top: 24px;
    left: calc(var(--frame-width) - 55px);
    white-space: nowrap;
  }

  .frame {
    --frame-width: 325px;

    width: var(--frame-width);
    margin-right: 24px;
    float: left;
  }

  .frame > img {
    object-fit: cover;
    object-position: 0 20%;
  }

  .about {
    margin-top: 100px;
    margin-left: 60px;
  }

  h2 {
    font-size: 2.2rem;
    margin-top: 70px;
  }

  header p {
    font-size: 1rem;
  }

  .pinwheel-holder {
    --skew: -9deg;
    bottom: 25%;
  }
}

/* Tablet AND desktop styling */
@media (min-width: 600px) {
  .about {
    padding: 1px 24px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
  }

  .link-holder {
    justify-content: end;
  }
}

/* Desktop styling */
@media (min-width: 1100px) {
  header {
    display: flex;
    align-items: center;
    padding: 42px 56px;
  }

  .frame {
    min-width: 500px;
    margin: 0;
  }

  .about {
    min-height: 550px;
    text-align: left;
  }

  .about > h2 {
    text-align: left;
  }

  .pinwheel-holder {
    --skew: -15deg;
    bottom: 0;
  }

  .gallery {
    --min-card-width: 350px;
  }
}
