*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-size: 20px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: 50% -70%;
  background-image: url(./images/gyro-floral-tall.jpg);
}

body:before{
  content: '';
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

/* General styles */
.shadow {
  box-shadow: 2px 2px 8px rgb(60, 60, 60);
}

/* pinwheel */
.pinwheel-holder {
  --skew: -23.5deg;

  position: absolute;
  left: 0;
  top: 0;
  height: 700px;
  width: 100%;  
  z-index: -1;
}

.pinwheel {
  height: 100%;
  transform: skewY(var(--skew));
  transform-origin: bottom left;
}

.pinwheel.layer-one {
  background-color: #ddbda9;
}

.pinwheel.layer-two {
  background-color: #6f794b;
}

.pinwheel.layer-three {
  background-color: #6f3582;
}

.wrapper {
  max-width: 1800px;
}

/* header */
header,
section {
  padding: 32px 42px;
}

.frame {
  position: relative;
  
  margin: 12px;
}

.frame > img {
  width: 100%;
}

h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;

  color: white;
  font-size: 2.8rem;
  line-height: 1.1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px black;
}

.about {
  margin-top: 32px;
  padding: 1px 24px;
  background-color: white;
}

.about > * {
  margin: 18px 0;
}

h2 {
  margin-top: 28px;
  text-align: center;
  font-size: 2.3rem;
}

.link-holder {
  display: flex;
  justify-content: center;
  gap: 24px;
}

a.link {
  --link-button-size: 40px;
  width: var(--link-button-size);
  height: var(--link-button-size);
  padding: 0;
  border: none;
  background-color: inherit;
  background-size: cover;
}

a.link.icon-github {
  background-image: url(./icons/icons8-github-60.png);
}

a.link.icon-linkedin {
  background-image: url(./icons/icons8-linkedin-50.png);
}

a.link.icon-instagram {
  background-image: url(./icons/icons8-instagram-60.png);
}

a.link.icon-open-in-new {
  --link-button-size: 32px;
  background-image: url(./icons/open-in-new.png);
}

/* gallery */
section {
  margin-bottom: 42px;
}

section h2 {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px black;
}

.gallery {
  display: grid;
  gap: 70px 54px;

  margin-top: 18px;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
}

.card.height-2 {
  grid-row: span 2;
}

.card.width-end {
  grid-column-start: 1;
  grid-column-end: -1;
}

.card > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card > .info {
  flex: 1;

  padding: 16px 20px 45px 20px;
  background-color: white;
}

h3 {
  font-size: 1.5rem;
  margin-left: 12px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

.card-title a {
  display: inline-block;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 24px;
  width: 100vw;
  padding: 42px 42px 64px 42px;
  background-color: #e8e2f8;
}

.contact-info {
  max-width: 420px;
}

.contact-info > * {
  margin-left: 0;
}

footer h2 {
  margin-top: 0;
  font-size: 2rem;
}

footer h3 {
  margin-top: 32px;
  font-weight: normal;
  font-size: 1rem;
}

footer .link-holder {
  margin-top: 24px;
  margin-bottom: 48px;
}

footer img {
  width: min(100vw - 20px, 550px);
}

/* Tablet styling */
@media (min-width: 760px) and (max-width: 1099px) {
  .pinwheel-holder {
    height: 500px;
  }

  body {
    background-image: url(./images/gyro-floral.png);
    background-position: 40% 0%;
  }

  h1 {
    font-size: 2.8rem;
    top: 12px;
    left: calc(var(--frame-width) - 55px);
    white-space: nowrap;
  }

  .frame {
    --frame-width: 330px;

    width: var(--frame-width);
    margin-right: 24px;
    float: left;
  }

  .frame > img {
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
  }

  .about {
    margin-top: 100px;
    margin-left: 60px;
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 70px;
  }

  section > h2 {
    font-size: 3rem;
  }

  header p {
    font-size: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  footer * {
    text-align: center;
  }

  footer .link-holder {
    justify-content: center;
  }
}

/* Tablet AND desktop styling */
@media (min-width: 760px) {
  .pinwheel-holder {
    --skew: -15deg;
  }

  .link-holder {
    justify-content: end;
  }

  .card.width-2 {
    grid-column: span 2;
  }

  footer {
    flex-direction: row;
    gap: 64px;
  }
}

/* Desktop styling */
@media (min-width: 1100px) {
  .pinwheel-holder {
    height: 800px;
  }

  body {
    background-position: 15% 0%;
    background-image: url(./images/gyro-floral.png);
  }

  header {
    display: flex;
    align-items: center;
    padding: 42px 56px;
  }

  .frame {
    min-width: 500px;
    margin: 0;
  }

  .about {
    min-height: 550px;
    text-align: left;
  }

  .about > h2 {
    text-align: left;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    flex-direction: row;
    gap: 64px;
  }

  footer h2 {
    text-align: left;
  }

  footer img {
    object-fit: cover;
    object-position: center;
  }

  footer .link-holder {
    justify-content: start;
  }
}
