*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

header {
  position: relative;
  padding: 32px 42px;
}

.frame {
  position: relative;
  box-shadow: 2px 2px 8px rgb(60, 60, 60);
}

h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;

  color: white;
  font-size: 6.5rem;
  line-height: 1.1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 5px 5px 5px black;
}

header h2 {
  margin-top: 24px;
  text-align: center;
  font-size: 3rem;
}

header p {
  font-size: 1.8rem;
}

.pinwheel-holder {
  position: absolute;
  left: 0;
  bottom: 50%;
  height: 60%;
  width: 100%;
  z-index: -1;
}

.pinwheel {
  height: 100%;
  transform: skewY(-23.5deg);
  transform-origin: bottom left;
}

.pinwheel.layer-one {
  background-color: #ddbda9;
}

.pinwheel.layer-two {
  background-color: #6f794b;
}

.pinwheel.layer-three {
  background-color: #6f3582;
}

.link-holder {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-top: 12px;
}

a.link {
  --link-button-size: 60px;
  width: var(--link-button-size);
  height: var(--link-button-size);
  padding: 0;
  border: none;
  background-color: white;
  background-size: cover;
}

a.link.icon-github {
  background-image: url(./icons/icons8-github-60.png);
}

a.link.icon-linkedin {
  background-image: url(./icons/icons8-linkedin-50.png);
}

a.link.icon-instagram {
  background-image: url(./icons/icons8-instagram-60.png);
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.8rem;
    top: 24px;
    left: calc(var(--frame-width) - 55px);
    white-space: nowrap;
  }

  .frame {
    --frame-width: 300px;

    height: 400px;
    width: var(--frame-width);
    margin-right: 24px;
    float: left;
  }

  .frame > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 20%;
  }

  .about {
    margin-top: 90px;
    margin-left: 60px;
    padding: 54px 24px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
  }

  header h2 {
    font-size: 2.2rem;
  }

  header p {
    margin-top: 18px;
    font-size: 1.2rem;
  }

  .link-holder {
    justify-content: end;
  }

  a.link {
    --link-button-size: 40px;
  }
}